<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>| WEBSITE BY AKASH |</title>
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <!-- ? -->
  <style type="text/css">
    body {
      line-height: 1;
      margin: auto;
      padding: auto;
      background-image: linear-gradient(to right, rgb(215, 150, 150),orange,yellow,green,blue,indigo,rgb(188, 120, 188));
    }

    html,
    body {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    a:link {
      text-decoration: none;
    }

    .intro {
      position: absolute;
      left: 0;
      top: 20%;
      padding: 0 20px;
      width: 100%;
      text-align: center;
    }

    h1 {
      color: #fff;
      text-transform: uppercase;
      font-size: 90px;
      font-weight: 700;
      letter-spacing: 0.015em;
      margin-top: 1px;
    }

    h1::after {
      content: '';
      width: 200px;
      display: block;
      background: #ffee58;
      height: 6px;
      margin: 30px auto;
      line-height: 1.1;
    }

    .btn {
      display: inline-block;
      padding: 15px 30px;
      border: 2px solid #fff;
      text-transform: uppercase;
      letter-spacing: 0.015em;
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
      color: #fff;
      text-decoration: none;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
    }

    .btn:hover {
      color: #000;
      border-color: #fff;
      background-color: #607d8b;
    }

    h2 {
      color: #ffd600;
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 700;
      letter-spacing: 0.015em;
      margin-right: 800px;
    }

    @media only screen and (max-width: 1000px) {
      h1 {
        font-size: 70px;
      }
    }

    @media only screen and (max-width: 800px) {
      h1 {
        font-size: 48px;
      }

      h1::after {
        height: 8px;
      }
    }

    @media only screen and (max-width: 550px) {
      .btn {
        display: inline-block;
        padding: 5px 15px;
        border: 2px solid #fff;
        text-transform: uppercase;
        letter-spacing: 0.009em;
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        color: #fff;
        text-decoration: none;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
      }
    }

    @media only screen and (max-width: 430px) {
      .btn {
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid #fff;
        text-transform: uppercase;
        letter-spacing: 0.005em;
        font-size: 10px;
        font-weight: 400;
        line-height: 1;
        color: #fff;
        text-decoration: none;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
      }
    }

    @media only screen and (max-width: 568px) {
      .intro {
        padding: 0 10px;
      }

      h1 {
        font-size: 30px;
      }

      h1::after {
        height: 6px;
      }

      p {
        font-size: 18px;
      }

      .btn {
        font-size: 16px;
      }
    }

    @media only screen and (max-width: 320px) {
      h1 {
        font-size: 28px;
      }

      h1::after {
        height: 4px;
      }
    }

    .background-image {
      background-image: url("book.png");
      /* filter: blur(9px);
        -webkit-filter: blur(3px); */
      background-size: cover;
      /* background-position: center; */
      background-repeat: no-repeat;
      width: 100vw;
      height: 100vh;
    }

    .btx {
      margin-right: 785px;
    }

    .cus {
      position: absolute;
      top: 170px;
      left: 914px;
      width: 357px;
    }

    #btn1 {
      position: absolute;
      top: 266px;
      left: 1007px;
    }


  </style>
</head>

<body>
  <center>
    <div class="background-image">
      <img src="https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Circle-Simple-Background-Image-1.jpg" width="1320px" alt="">

    </div>



    <div class="intro">

      <h1> WELCOME Aman Travels </h1>
      <h2> Already have account? </h2>
      <div class="btx">
        <a href="/c_login" class="btn"> Login </a>
      </div>
      <h2 class="cus"> New Customer ?</h2>
      <a href="/signup" class="btn" id="btn1"> Register </a>
    </div>
  </center>
</body>

</html>